<!DOCTYPE html>
<head>
    <title>忘记密码</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/font-awesome.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-gray">
<div class="container">
    <div class="col-md-12">
        <h1 class="margin-bottom-15">密码重设</h1>
        <form class="form-horizontal forgot-password-form container" role="form" action="#"
              method="post">
            <div class="form-group">
                <div class="col-md-12">
                   	 请输入注册用户时所用邮箱：
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="email" value="请输入邮箱"
                           onblur="this.value = 'Your email'" onfocus="this.value=''">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="提交" class="btn btn-info">
                    <br><br>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>