/*

Visual Admin Template

TABLE OF CONTENT
	1. Universal Styles
	2. Left Column
	3. Right Column
	4. main content
----------------------------------------------*/
/* 1. Universal Styles
----------------------------------------------*/
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 13px;
}

body, .left-nav {
    background: #1f2124;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    color: #7f7f7f;
    font-size: 1.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

nav li {
    font-size: 1.1em;
    list-style: none;
    text-transform: uppercase;
}
.nav-fix-top{
    z-index: 1;
}
.site-header {
    z-index: 10;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block {
    display: block;
}

.position-relative {
    position: relative;
}

.blue-text {
    color: #39ADB4;
}

.white-text {
    color: white;
}

.green-bg {
    background-color: #39ADB4;
}

.yellow-bg {
    background-color: #D8D138;
}

.white-bg {
    background-color: white;
}

.white-bg .fa-times {
    background-color: #d7d7d7;
}

.white-bg .fa-times:hover {
    background: #83ccd1;
}

.orange-bg {
    background-color: #F17A54;
    color: white;
}

.orange-bg .fa-times {
    background-color: #F0A790;
}

.orange-bg .fa-times:hover {
    background-color: #E14311;
}

.pink-bg {
    background-color: #D7425C;
    color: white;
}

.pink-bg .fa-times {
    background-color: #E57C8F;
}

.pink-bg .fa-times:hover {
    background-color: #BD1F3B;
}

.blue-bg {
    background-color: #3275BB;
    color: white;
}

.blue-bg .fa-times {
    background-color: #6792C0;
}

.blue-bg .fa-times:hover {
    background-color: #2C639C;
}

.light-gray-bg {
    background-color: #efefef;
}

.padding-right-25 {
    padding-right: 25px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-10 {
    margin: 10px;
}

.width-100 {
    width: 100%;
}

.no-border {
    border: none;
}

.border-radius-10 {
    border-radius: 10px;
}



/* 2. Left Column
-----------------------------*/
.sidebar {
    width: 300px;
}

.square {
    width: 25px;
    height: 25px;
    border: 3px solid #5bc0de;
    display: inline-block;
    vertical-align: middle;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.site-header {
    margin: 25px 30px;
}

.site-header h1 {
    color: white;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0 5px;
    /*text-transform: uppercase;*/
    vertical-align: middle;
}

.profile-photo-container {
    position: relative;
}

.profile-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.profile-photo-overlay:hover {
    background-color: rgba(4, 152, 114, 0);
}


.form-control:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px #09F, 0 0 8px #5bc0de;
}

.form-control.highlight {
    background-color: #39ADB4;
    color: white;
}
.form-control.highlight::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}

.form-control.highlight:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
}

.form-control.highlight::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
}

.form-control.highlight:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}


.fa-search {
    height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    color: white;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.mobile-menu-icon {
    cursor: pointer;
    display: none;
}

.left-nav li {
    font-weight: 300;
}

.left-nav a.active,
.left-nav a:hover {
    background: #18191b;
    border-left: 8px solid #5bc0de;
}

.left-nav a {
    color: #e9e9ea;
    display: block;
    padding: 30px;
    transition: all 0.3s ease;
}

.left-nav .fa {
    margin-right: 15px;
}

/* 3. Right Column
------------------------------*/
.top-nav-container {
    background-color: white;
    padding: 28px 50px;
    box-shadow: 0px 0px 2px 2px rgba(161, 159, 159, 0.18);
}

.top-nav li {
    float: left;
    list-style: none;
}

.top-nav a {
    color: #7f7f7f;
    display: block;
    padding: 0 50px;
    border-left: 2px solid #c5c5c5;
}

.top-nav li:last-child a {
    border-right: 2px solid #c5c5c5;
}

.top-nav a:hover,
.top-nav a.active {
    color: #39ADB4;
}

/* 4.Main Content Area */
.content {
    margin-top: 0px;
    min-height: 600px;
    padding: 0;
    overflow-x: hidden;
}

.content-container {
    padding: 40px 50px;
}

.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.col-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

/* Content Widget */
.content-widget {
    border-radius: 10px;
    padding: 30px;
    position: relative;
    margin: 10px;
    box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
}

.content-widget.no-padding {
    padding: 0;
}

.fa-times {
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 4px 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
    transition: all 0.3s ease;
}

.fa-heart {
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    transition: all 0.3s ease;
}

.fa-heart:hover {
    color: #39ADB4;
}

.progress {
    display: block;
}

.panel-default > .panel-heading {
    background-color: #39ADB4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 15px;
}

.panel-default .fa-times {
    top: 12px;
    background-color: #67B5B9;
}

.panel-default .fa-times:hover {
    background-color: #09F;
}

.panel {
    border-radius: 10px;
}

.pagination-wrap {
    margin-right: 10px;
    text-align: right;
}

.pagination > li > a {
    border-color: #E9E8E8;
    color: #a6a6a6;
    margin: 2px;
    padding: 10px;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 10px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    background-color: #5bc0de;
    border-color: #E9E8E8;
}

/* 4. Main Content
------------------------------*/
.advertisement-summit{
    background: white;
}
.form-control{
    margin-bottom: 20px;
}

.container{
    border-radius: 8px;
    border:2px solid #5bc0de;
    width:80%;
    margin:20px auto;
    padding: 20px 60px;
}

#btn-ad-summit{
    margin-bottom: 20px;

}
#btn-ad-summit:hover {
    background: #5bc0de;
    color: white;
}
.btn-primary{
    background: #5bc0de;
    border: 1px solid #5bc0de;
}

.btn-primary:hover{
    background: white;
    color: #2e6da4;

}








